<h1> Alpha Bloggers</h1>

<%= will_paginate @user %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Email</th>
      <th>Articles</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= gravatar_for(user, size: 50) %>
        </td>
        <td><%= user.username %> </td>
        <td><%= user.email %></td>
        <td><%= pluralize user.articles.count, "article" %></td>
        <td>
            <%= link_to 'Show', user_path(user) %>
            <% if logged_in? && (user == current_user || current_user.admin? ) %>
              <%= link_to 'Edit', edit_user_path(user) %>
            <% end %>
        </td>
        <td>
          <% if current_user.admin? %>
            <%= link_to "Delete user", user_path(user),  data: { "turbo-method": :delete, turbo_confirm: "are you sure?" } %>
          <%end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>