<nav>
  <ul>
    <li>
      <%= link_to "Alpha Blog", root_path %>
    </li>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Articles", articles_path %>
      <ul>
        <li>
          <%= link_to "View articles", articles_path %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to "Create an article", new_article_path %>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to "Bloggers", users_path %>
    </li>
    <li>
      <% if logged_in? %>
      <%= "(Admin)"if current_user.admin?  %>
      <%= link_to current_user.username, user_path(current_user)  %>
      <ul>
        <li>
          <%= link_to "Edit your profile", edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to "Delete profile", user_path(current_user), data: { "turbo-method": :delete, turbo_confirm: "are you sure?" } %>
        </li>
      </ul>
      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }  %>
      <% else %>
        <%= link_to "Log in", login_path %>
        <%= link_to "Sign up", signup_path %>
      <% end %>
    </li>
  </ul>
</nav>